{% extends 'base.html.twig' %}

{% block contenu %}

<h1><center> Stage n°{{idStage}} </center></h1>

<p>
<center>
  Entreprise : XXXXX</br>
  Formation : XXXXXX</br>
  Durée : XXX</br>
  Date de début : XXXXXX</br>
  Projet : XXXXXXXXXXXXXXXXXXXX</br>
</center>
</p>

{% endblock %}
