
{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur ProStage !</h1>
<p>
    Vous trouverez ici les dernières offres de stages mise en ligne
</p>

<ul>
  <li>
    <a href="{{ path('pro_stage_details_stage',{id:25})}}"> Stage sanofi</a>
  </li>
  <li>
    <a href="{{ path('pro_stage_details_stage',{id:254})}}"> Stage CGI</a>
  </li>
  <li>
    <a href="{{ path('pro_stage_details_stage',{id:38})}}"> Stage TurboMeca</a>
  </li>
</ul>
{% endblock %}
