<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStage{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block slider %} SLIDER </br> {% endblock %}
        {% block menu %} MENU </br> {% endblock %}
        {% block contenu %} CONTENT </br> {% endblock %}
        {% block footer %} FOOTER </br> {% endblock %}
        {% block javascripts %} JAVASCRIPT </br>{% endblock %}
    </body>
</html>
